.ipynb_checkpoints/
__pycache__/
.vscode/
customFonts/
.streamlit/secrets.toml
*.pptx
*.sql
*.tar
**/*.xlsx
**/*.csv
**/*.html
**/*.png
**/*.tif
**/*.pdf
**/.ipynb_checkpoints/
**/__pycache__/
**/build
**/dist
**/img
**/*.spec
**/*.pkl
**/*.faiss
**/*.py1